nav.action ul{
    padding: 0;
    list-style: none;
}
ul.actionMenu {
    display: inline-flex;
    position: relative;
    flex-direction: column;
    margin-bottom: 0;
    position: relative;
}
ul.actionMenu .actionMenuContent {
    position: absolute;
    background: #fff;
    padding: 0.5rem;
    z-index: 1;
}
ul.actionMenu.deactivated ul.actionMenuContent {
    display: none;
}
ul.actionMenu .actionMenuHeader {
    cursor: pointer;
}
